<div class="recruitment-create">
  <h3>Tạo Mới Tin Tuyển Dụng</h3>
  <form [formGroup]="recruitmentForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="title">Tiêu đề</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
      <div *ngIf="(title.touched || submitted) && title.hasError('required')" class="error">
        Tiêu đề là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="company">Tên công ty</label>
      <input type="text" class="form-control" id="company" formControlName="company" required>
      <div *ngIf="(company.touched || submitted) && company.hasError('required')" class="error">
        Tên công ty là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="title">Mô tả</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Ngày tạo</label>
      <div class="col-12">
        <input class="form-control" type="datetime-local" formControlName="createdDate"
               id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">Ngày hết hạn</label>
      <div class="col-12">
        <input class="form-control" type="date" formControlName="expiredDate" id="example-date-input" required>
        <div *ngIf="(expiredDate.touched || submitted) && expiredDate.hasError('required')" class="error">
          Ngày hết hạn là bắt buộc.
        </div>
      </div>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="display" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Hiển thị</label>
    </div>

    <div class="form-group">
      <label for="address">Địa chỉ</label>
      <input type="text" class="form-control" id="address" formControlName="address" required>
      <div *ngIf="(address.touched || submitted) && address.hasError('required')" class="error">
        Địa chỉ là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Số điện thoại</label>
      <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" required>
      <div *ngIf="(phoneNumber.touched || submitted) && phoneNumber.hasError('required')" class="error">
        Số điện thoại là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" required>
      <div *ngIf="(email.touched || submitted) && email.hasError('required')" class="error">
        Email là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="salary">Lương</label>
      <input type="text" class="form-control" id="salary" formControlName="salary" required>
      <div *ngIf="(salary.touched || submitted) && salary.hasError('required')" class="error">
        Lương là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Số lượng tuyển dụng</label>
      <input type="text" class="form-control" id="amount" formControlName="amount" required>
      <div *ngIf="(amount.touched || submitted) && amount.hasError('required')" class="error">
        Số lượng tuyển dụng là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label>Logo</label>
      <div class="custom-file input-item">
        <input type="file" class="custom-file-input" formControlName="logo" (change)="onFileChange($event)">
        <label class="custom-file-label">{{logoName ? logoName : 'Choose file'}}</label>
      </div>
    </div>

    <div class="form-group">
      <label for="type">Loại tuyển dụng</label>
      <select class="form-control" id="type" formControlName="type">
        <option value="HOT">HOT</option>
        <option value="NEW">NEW</option>
        <option value="NORMAL">NORMAL</option>
      </select>
    </div>

    <div class="form-group">
      <label>Nội dung</label>
      <angular-editor formControlName="content" [config]="editorConfig" required></angular-editor>
      <div *ngIf="(content.touched || submitted) && content.hasError('required')" class="error">
        Nội dung là bắt buộc.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
