<div class="scholarship-list">
  <div class="top-scholarship-list">
    <h4>Trang Học Bổng</h4>
    <button type="button" class="btn btn-primary" [routerLink]="['/scholarship-create']">Tạo mới học bổng</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tiêu Đề</th>
      <th scope="col">Loại</th>
      <th scope="col">Mức Học Bổng</th>
      <th scope="col">Số Lượng</th>
      <th scope="col">Ngày</th>
      <th scope="col">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of scholarshipsDisplay; let i = index">
      <th scope="row">{{i + 1 + (page - 1) * 10}}</th>
      <td>{{s.title}}</td>
      <td>{{s.type}}</td>
      <td>{{s.level}}</td>
      <td>{{s.amount}}</td>
      <td>{{s.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <button class="btn mx-1" [class.btn-primary]="s.display" [class.btn-dark]="!s.display" (click)="updateDisplayScholarship(s.id, s.display)">{{s.display ? 'Ẩn' : 'Hiện'}}</button>
        <button class="btn btn-outline-danger" (click)="deleteScholarship(s.id)">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="scholarships.length > 10"
                  [collectionSize]="scholarships.length"
                  [maxSize]="10"
                  (pageChange)="pageChange($event)"
                  aria-label="Default pagination">
  </ngb-pagination>
</div>
<ngx-loading [show]="loading"></ngx-loading>
