$text-highlight-link-color: #106cb2;
$text-highlight-link-active-color: #0c5b98;
$text-highlight-color: #0473b3;
$text-color: #000000;
$text-link-color: #363636;
$text-title-color: #222222;
$text-white-color: #ffffff;
