<form class="form-signin" [formGroup]="formSignin">
  <img src="assets/images/logo-psinhvien.png">
  <h1 class="h3 mb-3 mt-3 font-weight-bold">Đăng Nhập</h1>
  <div class="username">
    <label for="inputEmail" class="sr-only"></label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Nhập username hoặc email" formControlName="usernameOrEmail">
  </div>
  <div class="password">
    <label for="inputPassword" class="sr-only"></label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Nhập password" formControlName="password">
  </div>
  <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" (click)="submitForm()">Đăng Nhập</button>
</form>
<ngx-loading [show]="loading"></ngx-loading>
