<div class="scholarship-create">
  <h3>Tạo Mới Tin Học Bổng</h3>
  <form [formGroup]="scholarshipForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="title">Tiêu đề</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
      <div *ngIf="(title.touched || submitted) && title.hasError('required')" class="error">
        Tiêu đề là bắt buộc.
      </div>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="display" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Hiển thị</label>
    </div>

    <div class="form-group">
      <label for="description">Mô tả</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>

    <div class="form-group">
      <label for="type">Loại học bổng</label>
      <input type="text" class="form-control" id="type" formControlName="type" required>
      <div *ngIf="(type.touched || submitted) && type.hasError('required')" class="error">
        Loại học bổng là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Số lượng học bổng</label>
      <input type="number" class="form-control" id="amount" formControlName="amount" required>
      <div *ngIf="(amount.touched || submitted) && amount.hasError('required')" class="error">
        Số lượng học bổng là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="level">Mức học bổng</label>
      <input type="text" class="form-control" id="level" formControlName="level" required>
      <div *ngIf="(level.touched || submitted) && level.hasError('required')" class="error">
        Mức học bổng là bắt buộc.
      </div>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Ngày tạo</label>
      <div class="col-12">
        <input class="form-control" type="datetime-local" formControlName="createdDate" id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">Ngày hết hạn</label>
      <div class="col-12">
        <input class="form-control" type="date" formControlName="expiredDate" id="example-date-input" required>
        <div *ngIf="(expiredDate.touched || submitted) && expiredDate.hasError('required')" class="error">
          Ngày hết hạn là bắt buộc.
        </div>
      </div>
    </div>

    <div class="form-group links">
      <div class="d-flex justify-content-between">
        <label class="mr-2">Links</label>
        <button type="button" class="btn btn-outline-success" (click)="addLink()">Thêm</button>
      </div>
      <div formArrayName="links" *ngFor="let link of scholarshipForm.get('links').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="panel-item">
            <div class="input-item">
              <div class="title">Mô tả</div>
              <input type="text" class="form-control" formControlName="caption">
            </div>
            <div class="input-item">
              <div class="title">Đường dẫn</div>
              <input type="text" class="form-control" formControlName="path">
            </div>
            <button type="button" class="btn btn-outline-danger btn-delete" (click)="removeLink(i)">Xóa</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex justify-content-between">
        <label class="mr-2">Hình ảnh</label>
        <button type="button" class="btn btn-outline-success" (click)="addImage()">Thêm</button>
      </div>
      <div formArrayName="images" *ngFor="let image of scholarshipForm.get('images').controls; let i=index">
        <div [formGroupName]="i">
          <div class="panel-item">
            <div class="custom-file input-item">
              <input type="file" class="custom-file-input" formControlName="path" (change)="onFileChange($event)">
              <label class="custom-file-label">{{imageNames[i] ? imageNames[i] : 'Choose file'}}</label>
            </div>
            <div class="input-item">
              <div class="title">Mô tả</div>
              <input type="text" class="form-control" formControlName="caption">
            </div>
            <button type="button" class="btn btn-outline-danger btn-delete mt-1" (click)="removeImage(i)">Xóa</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Những giấy tờ cần mang theo</label>
      <angular-editor formControlName="information" [config]="editorConfig"></angular-editor>
      <div *ngIf="(information.touched || submitted) && information.hasError('required')" class="error">
        Giấy tờ mang theo là bắt buộc.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<ngx-loading [show]="loading"></ngx-loading>
