<div class="menu">
  <div class="logo">
    <div class="logo-ctsv"></div>
  </div>
  <div class="list-menu">
    <div class="menu-item" [routerLink]="['notify-list']" [routerLinkActive]="'/notify-list' ? 'active' : ''">
      <i class="fa fa-flag fa-lg" aria-hidden="true"></i>
      <h5 class="notify">Thông Tin - Thông Báo</h5>
    </div>
    <div class="menu-item" [routerLink]="['news-list']" [routerLinkActive]="'/news-list' ? 'active' : ''">
      <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i>
      <h5 class="news">Tin Tức</h5>
    </div>
    <div class="menu-item" [routerLink]="['recruitment-list']" [routerLinkActive]="'/recruitment-list' ? 'active' : ''">
      <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
      <h5 class="recruitment">Tuyển Dụng</h5>
    </div>
    <div class="menu-item" [routerLink]="['scholarship-list']" [routerLinkActive]="'/scholarship-list' ? 'active' : ''">
      <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
      <h5 class="scholarship">Học Bổng</h5>
    </div>
    <div class="menu-item" *ngIf="authenticationService.isAdmin()" [routerLink]="['user-list']" [routerLinkActive]="'/user-list' ? 'active' : ''">
      <i class="fa fa-user fa-lg" aria-hidden="true"></i>
      <h5 class="user">Quản Lí Tài Khoản</h5>
    </div>
  </div>
</div>
