.menu {
  display: flex;
  flex-direction: column;
  color: #ffffff;

  & .logo {
    height: 56px;
    padding: 10px;
    background-color: #ffffff;

    & .logo-ctsv {
      width: 100%;
      height: 56px;
      background: url("/assets/images/logo-psinhvien.png") no-repeat;
      background-size: contain;
    }
  }

  & .list-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    & .menu-item {
      width: 100%;
      height: 40px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      align-content: center;
      outline: none;
      margin-bottom: 10px;

      & i {
        display: inline-block;
        width: 30px;
        padding-right: 10px;
      }

      & h5 {
        font-size: 18px;
      }

      &:hover {
        background-color: #106cb2;
      }
    }
  }

}

.active {
  background-color: #106cb2;
}
