<div class="user-list">
  <button type="button" class="btn btn-primary" [routerLink]="['/user-create']">Tạo mới tài khoản</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Họ và Tên</th>
      <th scope="col">Email</th>
      <th scope="col">Tài khoản</th>
      <th scope="col">Quyền</th>
      <th scope="col">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersDisplay; let i = index">
      <th scope="row">{{i + 1 + (page - 1) * 10}}</th>
      <td>{{user.fullname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.username}}</td>
      <td>{{user.roles[0].name}}</td>
      <td><button class="btn btn-outline-danger" (click)="deleteUser(user.id)">Xóa</button></td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="users.length > 10"
                  [collectionSize]="users.length"
                  [maxSize]="10"
                  (pageChange)="pageChange($event)"
                  aria-label="Default pagination">
  </ngb-pagination>
</div>
<ngx-loading [show]="loading"></ngx-loading>
