<div id="app" *ngIf="authenticationService.isLogin(); else notLogin">
  <div class="left-menu">
    <app-menu></app-menu>
  </div>
  <div class="container-wrapper">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #notLogin>
  <router-outlet></router-outlet>
</ng-template>
