#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.left-menu {
  width: 250px;
  padding: 0;
  background: #3c4b64;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
}

.container-wrapper {
  margin-left: 250px;

  & .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: #ffffff;
  }

  & .content {
    min-width: 0;
    padding: 20px 0 0 10px;
  }
}

