<div class="user-create">
  <h3>Tạo Mới Tài Khoản</h3>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="fullname">Họ và Tên</label>
      <input type="text" class="form-control" id="fullname" formControlName="fullname" required>
      <div *ngIf="(fullname.touched || submitted) && fullname.hasError('required')" class="error">
        Họ và Tên là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Giới tính</label>
      <select class="form-control" id="gender" formControlName="gender">
        <option value="MALE">Nam</option>
        <option value="FEMALE">Nữ</option>
        <option value="OTHER">khác</option>
      </select>
    </div>

    <div class="form-group">
      <label for="username">Tài khoản</label>
      <input type="text" class="form-control" id="username" formControlName="username" required>
      <div *ngIf="(username.touched || submitted) && username.hasError('required')" class="error">
        Tài khoản là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" required>
      <div *ngIf="(email.touched || submitted) && email.hasError('required')" class="error">
        Email là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Số điện thoại</label>
      <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input type="text" class="form-control" id="password" formControlName="password" required>
      <div *ngIf="(password.touched || submitted) && password.hasError('required')" class="error">
        Mật khẩu là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="role">Phân quyền</label>
      <select class="form-control" id="role" formControlName="roleName">
        <option value="ROLE_USER">USER</option>
        <option value="ROLE_ADMIN">ADMIN</option>
      </select>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Ngày sinh</label>
      <div class="col-12">
        <input class="form-control" type="date" formControlName="birthday" id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-group">
      <label for="department">Phòng Ban</label>
      <input type="text" class="form-control" id="department" formControlName="department">
    </div>

    <div class="form-group">
      <label for="position">Chức vụ</label>
      <input type="text" class="form-control" id="position" formControlName="position">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<ngx-loading [show]="loading"></ngx-loading>
