.header {
  min-height: 56px;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user {
  position: relative;

  & .username {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #106cb2;
    }
  }

  & .user-setting {
    width: 120px;
    position: absolute;
    top: 40px;
    right: -15px;
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(60,75,100,.14), 0 1px 10px 0 rgba(60,75,100,.12), 0 2px 4px -1px rgba(60,75,100,.2);
    display: flex;
    flex-direction: row;
    padding: 5px 10px;

    & .logout {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      & .icon-logout {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background: url("/assets/images/sign-out.png") no-repeat;
        background-size: contain;
      }

      &:hover {
        color: #106cb2;
      }
    }
  }

  .hide {
    display: none;
  }
}
