<div class="header">
  <div class="user">
    <div class="username" (click)="hideUserSetting = !hideUserSetting">
      <i class="fa fa-user fa-lg mr-1" aria-hidden="true"></i>
      <div>{{user?.fullname}}</div>
    </div>
    <div class="user-setting" [class.hide]="hideUserSetting">
      <div class="logout" (click)="authenticationService.logout()">
        <i class="fa fa-sign-out fa-lg mr-1" aria-hidden="true"></i>
        <div>Đăng xuất</div>
      </div>
    </div>
  </div>
</div>
