<div class="news-create">
  <h3>Tạo Mới Tin Tức</h3>
  <form [formGroup]="newsForm" (ngSubmit)="submitForm()">
    <div class="form-group w-75">
      <label for="title">Tiêu đề</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
      <div *ngIf="(title.touched || submitted) && title.hasError('required')" class="error">
        Tiêu đề là bắt buộc.
      </div>
    </div>

    <div class="form-group w-75">
      <label for="title">Mô tả</label>
      <input type="text" class="form-control" id="description" formControlName="description" required>
      <div *ngIf="(description.touched || submitted) && description.hasError('required')" class="error">
        Mô tả là bắt buộc.
      </div>
    </div>

    <div class="form-group row w-75">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Ngày tạo</label>
      <div class="col-12">
        <input class="form-control" type="datetime-local" formControlName="createdDate" id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-check mb-2 w-75">
      <input type="checkbox" class="form-check-input" formControlName="display" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Hiển thị</label>
    </div>

    <div class="form-group w-75">
      <label for="type">Loại thông báo</label>
      <select class="form-control" id="type" formControlName="type">
        <option value="HOT">HOT</option>
        <option value="NEW">NEW</option>
        <option value="NORMAL">NORMAL</option>
      </select>
    </div>

    <div class="form-group w-75">
      <label>Hình ảnh</label>
      <div class="custom-file input-item">
        <input type="file" class="custom-file-input" formControlName="image" (change)="onFileChange($event)">
        <label class="custom-file-label">{{imageName ? imageName : 'Choose file'}}</label>
      </div>
      <div *ngIf="submitted && image.hasError('required')" class="error">
        Hình ảnh là bắt buộc.
      </div>
    </div>

    <div class="form-group links w-75">
      <div class="d-flex justify-content-between">
        <label class="mr-2">Links</label>
        <button class="btn btn-outline-success" type="button" (click)="addLink()">Thêm</button>
      </div>
      <div formArrayName="links" *ngFor="let link of newsForm.get('links').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="panel-item">
            <div class="input-item">
              <div class="title">Mô tả</div>
              <input type="text" class="form-control" formControlName="caption">
            </div>
            <div class="input-item">
              <div class="title">Đường dẫn</div>
              <input type="text" class="form-control" formControlName="path">
            </div>
            <button class="btn btn-outline-danger btn-delete" type="button" (click)="removeLink(i)">Xóa</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Nội dung</label>
      <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
      <div *ngIf="(content.touched || submitted) && content.hasError('required')" class="error">
        Nội dung là bắt buộc.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<ngx-loading [show]="loading"></ngx-loading>
