<div class="notify-list">
  <div class="top-notify-list">
    <h4>Trang Thông Báo</h4>
    <button type="button" class="btn btn-primary" [routerLink]="['/notify-create']">Tạo mới thông báo</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tiêu Đề</th>
      <th scope="col">Loại</th>
      <th scope="col">Ngày</th>
      <th scope="col">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notify of notifiesDisplay; let i = index">
      <th scope="row">{{i + 1 + (page - 1) * 10}}</th>
      <td>{{notify.title}}</td>
      <td>{{notify.type}}</td>
      <td>{{notify.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <button class="btn mx-1" [class.btn-primary]="notify.display" [class.btn-dark]="!notify.display" (click)="updateDisplayNotify(notify.id, notify.display)">{{notify.display ? 'Ẩn' : 'Hiện'}}</button>
        <button class="btn btn-outline-danger" (click)="deleteNotify(notify.id)">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="notifies.length > 10"
                  [collectionSize]="notifies.length"
                  [maxSize]="10"
                  (pageChange)="pageChange($event)"
                  aria-label="Default pagination">
  </ngb-pagination>
</div>
<ngx-loading [show]="loading"></ngx-loading>
