<div class="news-list">
  <div class="top-news-list">
    <h4>Trang Tin Tức</h4>
    <button type="button" class="btn btn-primary" [routerLink]="['/news-create']">Tạo mới tin tức</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tiêu Đề</th>
      <th scope="col">Loại</th>
      <th scope="col">Ngày</th>
      <th scope="col">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let n of newsDisplay; let i = index">
      <th scope="row">{{i + 1 + (page - 1) * 10}}</th>
      <td>{{n.title}}</td>
      <td>{{n.type}}</td>
      <td>{{n.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <button class="btn mx-1" [class.btn-primary]="n.display" [class.btn-dark]="!n.display" (click)="updateDisplayNews(n.id, n.display)">{{n.display ? 'Ẩn' : 'Hiện'}}</button>
        <button class="btn btn-outline-danger" (click)="deleteNews(n.id)">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pagination">
    <ngb-pagination *ngIf="news.length > 10"
                    [collectionSize]="news.length"
                    [maxSize]="10"
                    (pageChange)="pageChange($event)"
                    aria-label="Default pagination">
    </ngb-pagination>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
