<div class="recruitment-detail" *ngIf="recruitment">
  <div class="d-flex flex-column">
    <h5>{{recruitment.title}}</h5>
    <h6>Công ty: <span>{{recruitment.company}}</span></h6>
    <h6>Ngày hết hạn: <span>{{recruitment.expiredDate | date: 'dd/MM/yyyy'}}</span></h6>
  </div>
  <div class="mb-1">Danh sách đăng ký ứng tuyển:</div>
  <div class="bottom">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ và Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Số điện thoại</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of recruitment.candidates; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{c.fullname}}</td>
        <td>{{c.email}}</td>
        <td>{{c.phone}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
