/* You can add global styles to this file, and also import other style files */

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('./assets/fonts/open-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('./assets/fonts/open-sans-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./assets/fonts/open-sans-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $text-color;

  &:focus, &:hover, &:active {
    color: $link-hover-color;
    text-decoration: none;
  }
}

body {
  color: $text-color;
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

p {
  margin: 0 0 5px;
}

.error {
  color: red;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
