button {
  margin-bottom: 10px;
}

.table tbody tr {
  cursor: pointer;

  &:hover {
    background-color: #cffffe;
  }
}

.top-recruitment-list {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 15px 0;
}
