<div class="recruitment-list">
  <div class="top-recruitment-list">
    <h4>Trang Tuyển Dụng</h4>
    <button type="button" class="btn btn-primary" [routerLink]="['/recruitment-create']">Tạo mới tin tuyển dụng</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tiêu Đề</th>
      <th scope="col">Loại</th>
      <th scope="col">Lương</th>
      <th scope="col">Ngày</th>
      <th scope="col">Tùy chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of recruitmentDisplay; let i = index" (click)="navigateDetail(r.id)">
      <th scope="row">{{i + 1 + (page - 1) * 10}}</th>
      <td>{{r.title}}</td>
      <td>{{r.type}}</td>
      <td>{{r.salary}}</td>
      <td>{{r.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <button class="btn mx-1" [class.btn-primary]="r.display" [class.btn-dark]="!r.display" (click)="updateDisplayRecruitment(r.id, r.display)">{{r.display ? 'Ẩn' : 'Hiện'}}</button>
        <button class="btn btn-outline-danger" (click)="deleteRecruitment(r.id)">Xóa</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="recruitment.length > 10"
                  [collectionSize]="recruitment.length"
                  [maxSize]="10"
                  (pageChange)="pageChange($event)"
                  aria-label="Default pagination">
  </ngb-pagination>
</div>
<ngx-loading [show]="loading"></ngx-loading>
