<div class="notify-create">
  <h3>Tạo Mới Thông Tin - Thông Báo</h3>
  <form [formGroup]="notifyForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="title">Tiêu đề</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
      <div *ngIf="(title.touched || submitted) && title.hasError('required')" class="error">
        Tiêu đề là bắt buộc.
      </div>
    </div>

    <div class="form-group">
      <label for="title">Mô tả</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Ngày tạo</label>
      <div class="col-12">
        <input class="form-control" type="datetime-local" formControlName="createdDate" id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-check mb-2">
      <input type="checkbox" class="form-check-input" formControlName="display" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Hiển thị</label>
    </div>

    <div class="form-group">
      <label for="type">Loại thông báo</label>
      <select class="form-control" id="type" formControlName="type">
        <option value="HOT">HOT</option>
        <option value="NEW">NEW</option>
        <option value="NORMAL">NORMAL</option>
      </select>
    </div>

    <div class="form-group links">
      <div class="d-flex justify-content-between">
        <label class="mr-2">Links</label>
        <button type="button" class="btn btn-outline-success" (click)="addLink()">Thêm</button>
      </div>
      <div formArrayName="links" *ngFor="let link of notifyForm.get('links').controls; let i = index;">
        <div [formGroupName]="i">
          <div class="panel-item">
            <div class="input-item">
              <div class="title">Mô tả</div>
              <input type="text" class="form-control" formControlName="caption">
            </div>
            <div class="input-item">
              <div class="title">Đường dẫn</div>
              <input type="text" class="form-control" formControlName="path">
            </div>
            <button type="button" class="btn btn-outline-danger btn-delete" (click)="removeLink(i)">Xóa</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex justify-content-between">
        <label class="mr-2">Hình ảnh</label>
        <button type="button" class="btn btn-outline-success" (click)="addImage()">Thêm</button>
      </div>
      <div formArrayName="images" *ngFor="let image of notifyForm.get('images').controls; let i=index">
        <div [formGroupName]="i">
          <div class="panel-item">
            <div class="custom-file input-item">
              <input type="file" class="custom-file-input" formControlName="path" (change)="onFileChange($event, i)">
              <label class="custom-file-label">{{imageNames[i] ? imageNames[i] : 'Choose file'}}</label>
            </div>
            <div class="input-item">
              <div class="title">Mô tả</div>
              <input type="text" class="form-control" formControlName="caption">
            </div>
            <button type="button" class="btn btn-outline-danger btn-delete mt-1" (click)="removeImage(i)">Xóa</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Nội dung</label>
      <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<ngx-loading [show]="loading"></ngx-loading>
