.notify-create {
  width: 70%;
  margin-bottom: 20px;
}

.links input {
  margin: 5px 0;
}

.panel-item {
  width: 70%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  & .input-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .title {
      width: 110px;
      margin-right: 10px;
    }
  }

  & .btn-delete {
   margin-left: auto;
  }
}

.custom-file {
  margin: 5px 0;
}
